<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mobsalessrv.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mobsalessrv</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mobsalessrv</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MobSalesSrvContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:eszesw89h4.database.windows.net,1433;Initial Catalog=mobsaledb;User ID=gfhfk@eszesw89h4;Password=Olga120882" Name="Data Source=tcp:eszesw89h4.database.windows.net,1433;Initial Catalog=mobsaledb;User Id=gfhfk@eszesw89h4;Password=Olga120882" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MobSalesSrv.Models.MobSalesSrvContext, MobSalesSrv" MigrationConfiguration="MobSalesSrv.Migrations.Configuration, MobSalesSrv" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MobSalesSrvContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:eszesw89h4.database.windows.net,1433;Initial Catalog=mobsaledb;User Id=gfhfk@eszesw89h4;Password=Olga120882</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>